<div class="ui black fixed transparent inverted menu">
    <a href="/admin" class="icon item">
        <i class="lemon icon"></i>&nbsp;西湖创客汇
    </a>
    <a href="/admin/userManagement" class="item linkToUserManagement">用户管理</a>
    <a href="/admin/projectManagement" class="item linkToProjectManagement">项目管理</a>
    <a href="/admin/activityManagement" class="item linkToActivityManagement">活动管理</a>
    <a href="/admin/vipManagement" class="item linkToVipManagement">会员秀管理</a>
    <a href="/admin/logout" class="right item"><i class="off icon"></i>退出</a>
    <a href="/admin/settings" class="right item linkToSettings">设置</a>
</div>

<script type="text/javascript">
    // 顶部导航栏相关代码写在这里
    // -------------------------------------------
    $(function() {
        var href = window.location.href;
        if(/admin\/index/.test(href)) {
            $('.linkToIndex').addClass('active');
        };
        if(/admin\/userManagement/.test(href)) {
            $('.linkToUserManagement').addClass('active');
        }
        if(/admin\/projectManagement/.test(href)) {
            $('.linkToProjectManagement').addClass('active');
        }
        if(/admin\/vipManagement/.test(href) || /admin\/createVip/.test(href)) {
            $('.linkToVipManagement').addClass('active');
        }
        if(/admin\/settings/.test(href)) {
            $('.linkToSettings').addClass('active');
        }
        if(/admin\/activityManagement/.test(href) || /admin\/createActivity/.test(href)) {
            $('.linkToActivityManagement').addClass('active');
        }
    });
</script>