<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>西湖创客汇</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="/semantic/packaged/css/semantic.css">
    <link rel="stylesheet" href="/css/admin/common.css">
    <link rel="shortcut icon" href="/icon/favicon.ico">

    <script src="/lib/jquery.js"></script>
    <script src="/semantic/packaged/javascript/semantic.js"></script>
</head>
<body>

    <% include ./inc_topmenu.html %>

    <div class="main">
        <div class="ui header">西湖创客汇后台管理系统</div>
        <div class="ui header">推荐使用<a class="ui red header" href="https://www.google.com/intl/zh-CN/chrome/browser/" target="_blank">Chrome</a>浏览器，其他浏览器赞不支持。</div>

        <div class="ui header">实现功能：</div>

        <p>
            <strong>用户管理：</strong>
            用户列表分页查看、查看用户详情、删除用户、关键字搜索用户、用户金币个数修改、导出全部用户信息到Excel
        </p>

        <p>
            <strong>项目管理：</strong>
            项目列表分页查看、查看项目详情、删除项目、关键字搜索项目、修改项目级别（普通、创新、精华）
        </p>

        <p>
            <strong>活动管理：</strong>
            活动列表分页查看、新建活动、编辑活动、删除活动、查看活动
        </p>

        <p>
            <strong>会员秀管理：</strong>
            会员秀列表查看、新建会员秀、编辑会员秀、查看会员秀、删除会员秀
        </p>
        
        <p>
            <strong>产品乌托邦管理：</strong>
            产品列表分页查看、新建产品、编辑产品、删除产品、查看产品总个数          
        </p>

    </div>

    
    

    

    
    <script src="/seajs/sea.js" data-config="/js/config" data-main="/js/admin/index" ></script>

</body>
</html>