<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>项目管理 - 西湖创客汇</title>
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="/semantic/packaged/css/semantic.css">
    <link rel="stylesheet" type="text/css" href="/css/admin/common.css">
    <link rel="stylesheet" type="text/css" href="/css/admin/projectManagement.css">
    <link rel="shortcut icon" href="/icon/favicon.ico">

    <script src="/lib/jquery.js"></script>
    <script src="/semantic/packaged/javascript/semantic.js"></script>
</head>
<body>

    <% include ./inc_topmenu.html %>

    <div class="ui page grid main">
        <div class="column">

            <div class="ui large breadcrumb">
                <a class="section">西湖创客汇</a>
                <div class="divider"> / </div>
                <a class="active section">项目管理</a>
            </div>

            <table class="ui celled table segment">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>标题</th>
                        <th>所属行业</th>
                        <th>所属组别</th>
                        <th>创始人</th>
                        <th>组员</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>测试项目1测试项目1</td>
                        <td>时尚科技</td>
                        <td>杭州电子科技大学</td>
                        <td>王干</td>
                        <td>张三 李四</td>
                        <td>
                            <div class="ui inline dropdown">
                                <input type="hidden" name="status" value="3" id="status">
                                <div class="text">进行中</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" data-value="1">审核中</div>
                                    <div class="item" data-value="3">进行中</div>
                                    <div class="item" data-value="4">已结束</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ui mini icon buttons">
                                <div class="ui red button" data-content="删除" data-variation="inverted"><i class="trash icon"></i></div>
                                <div class="ui button" data-content="编辑" data-variation="inverted"><i class="edit icon"></i></div>
                                <div class="ui button" data-content="查看" data-variation="inverted"><i class="camera icon"></i></div>
                            </div>
                            <div class="ui mini blue icon button" data-content="保存" data-variation="inverted"><i class="save icon"></i></div>
                        </td>
                    </tr>

                </tbody>

            </table>


        </div>
    </div>
    

    
    <% include ./inc_gotop.html %>
    
    <script src="/seajs/sea.js" data-config="/js/config" data-main="/js/admin/projectManagement" ></script>

</body>
</html>