<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>创客分布 - 西湖创客汇</title>
    <meta name="description" content="">

    <style type="text/css">  
	body, html,#l-map {
		width: 100%;
		height: 100%;
		overflow: hidden;
		margin:0;}  
	</style>
	<script type="text/javascript" src="http://api.map.baidu.com/api?type=quick&ak=MxdmdtcT8lSuM02PII0KSoUn&v=1.0"></script> 
</head>
<body>
	
	<div id="l-map"></div> 

	<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="/js/weixin/baiduMap.js"></script>

</body>
</html>

