<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>西湖创客汇</title>
		<meta name="description" content="">
		<link rel="shortcut icon" href="/icon/favicon.ico">
		<link rel="stylesheet" href="/semantic/packaged/css/semantic.min.css">
		<link rel="stylesheet" href="/css/weixin/main.css">

		<script type="text/javascript">
			// 隐藏微信中网页右上角按钮
			document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
				WeixinJSBridge.call('hideOptionMenu');
			});
		</script>
		<style type="text/css">
			.page_container {
				margin-top: -180px;
			}
			.ui.form {
				padding: 0 10px;
			}
			.ui.form .sub.header {
				margin-top: 5px;
			}
		</style>
	</head>
	<body>

		<div class="main">
			<div class="page_container">
				<div class="ui basic form segment">
					<div class="field">
						<div class="ui icon header">
							<i class="circular checkmark icon"></i>绑定成功
							<div class="sub header">
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>