<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <title>西湖创客汇章程 - 西湖创客汇</title>
        <meta name="description" content="">
        <link rel="shortcut icon" href="/icon/favicon.ico">
        <link rel="stylesheet" href="/semantic/packaged/css/semantic.min.css">
        <style type="text/css">
            .ui.ordered.list .item:before {
                left: -1em;
            }
            .ui.ordered.list {
                margin-left: 1.5em;
            }
        </style>
    </head>
    <body>
        
        <h3 class="ui red header">一、核心理念</h3>
        <p>西湖创客汇（以下简称“协会”）是成立于杭州的创客空间，核心理念如下：</p>
        <h4 class="ui header">价值观</h4>
        <p>创新拓宽人生之路，创想拓宽人类之路。</p>
        <h4 class="ui header">使命</h4>
        <p>汇聚杭州乃至浙江地区的创客，互相启发、互相帮助，以科技力量为社会公益做出一定贡献。通过发扬创客精神，既增进年轻人学习技术的兴趣，更为本地科技行业的发展提供文化驱动力，推进社会创造力。</p>
        <h4 class="ui header">主旨</h4>
        <p>西湖创客汇的主旨是 <strong>青年 · 创新 · 科技</strong> ：</p>
        <p>青年 —— 青年意味着阳光上进，视青春为珍宝，爱折腾，绝不甘心埋没生命的能量；青年更热爱生活，能敏感地体会到生活的质感，触碰到创新的种子微粒；青年也意味着乐于分享快乐。</p>
        <p>创新 —— 万物更新，文明和生命方得延续。年轻人是创新力之源，创客空间像一个实验室，鼓励没有任何功利心的创新，无需对想象力施加一丝一毫的局限，因为创客们相信，没有任何“用处”的创新，却有机会真正拓宽人类的道路。</p>
        <p>科技 —— 创客不是空想主义者，DIY爱好者要拥有实现创意的工具和实力。</p>

        <h3 class="ui red header">二、职能</h3>
        <p>西湖创客汇致力于帮助年轻人利用技术发展自我、改变世界，帮助工程师拓展人脉，在更大的范围发挥个人价值。具体职能包括但不限于：</p>
        <h4 class="ui header">1、交流与展示平台</h4>
        <p>鼓励会员和爱好者分享观点、技术、经验、智慧，鼓励头脑风暴式的讨论，协助会员发布、展示、推广个人作品。</p>
        <h4 class="ui header">2、资源共享</h4>
        <p>分享供应链、实验设备、开源软硬件等资源，降低创新门槛，让会员更聚焦于创新本身，减少在准备工作上的精力损耗。逐步创造条件，为会员的创新活动提供资金和场地支撑。</p>
        <h4 class="ui header">3、 社区</h4>
        <p>拓展工程师的人脉圈，提升创业氛围。让大学生有机会近距离感受业界氛围，吸引新人加入创客运动。</p>
        <h4 class="ui header">4、 技术支持</h4>
        <p>开设创客孵化营，培养新人。牵线搭桥，为会员的创新活动提供技术支持。</p>

        <h3 class="ui red header">三、组织架构</h3>
        <img src="/img/xihumaker-jiagou-300x267.png" width="300" alt="">
        <p>西湖创客汇的管理原则如下：</p>
        <div class="ui ordered list">
            <div class="item">协会《章程》、理事会人选、《年度工作报告》由会员大会讨论或投票通过。</div>
            <div class="item">理事会负责起草《章程》、《年度工作报告》，并推动各项目标的实现。</div>
            <div class="item">理事会负责协会的发展决策，开展活动、宣传。</div>
            <div class="item">理事会设一办公室负责日常工作，办公室由秘书长管理。</div>
            <div class="item">协会不向理事会成员发放薪酬。理事会向办公室成员非业余时间的工作发放薪酬。</div>
        </div>
        
        <h3 class="ui red header">四、会员</h3>
        <h4 class="ui header">入会要求</h4>
        <div class="ui ordered list">
            <div class="item">爱好DIY，认可创客文化，以及西湖创客汇的主旨；</div>
            <div class="item">在电子、艺术、软件、传感、网络、机械等任一领域有基本的实践动手能力；</div>
            <div class="item">对生活充满兴致，喜爱创新；</div>
            <div class="item">至少一名会员推荐。</div>
        </div>
        <h4 class="ui header">会员权益</h4>
        <div class="ui ordered list">
            <div class="item">享有第二章所述协会提供的所有服务；</div>
            <div class="item">参加会员大会，拥有投票权和被选举权。</div>
        </div>
        <h4 class="ui header">会员义务</h4>
        <div class="ui ordered list">
            <div class="item">遵守协会章程和各项制度；</div>
            <div class="item">积极参与协会活动，在个人精力许可的情况下积极担任协会事务的志愿者；</div>
            <div class="item">积极为协会募集资源，推广协会理念和会员作品。</div>
        </div>
        <h4 class="ui header">会员积分</h4>
        <div class="ui ordered list">
            <div class="item">会员积分代表会员的活跃度，积分称为金币。</div>
            <div class="item">积分来源：<br />
                入会可获50金币，介绍新人入会获50金币；<br />
                参加活动10金币，发布作品80金币，发表演讲100金币/课时；<br />
                在官方博客发表文章30金币，精华文章60金币。
            </div>
            <div class="item">金币可用于换购耗材、开发板、传感器、买协会活动场所的饮料、买作品等用途。</div>
            <div class="item">如果某会员在一年的时间段内活跃度极低（新增积分≤80分），应交回会员卡自动退会。</div>
        </div>
        <h4 class="ui header">会员威望</h4>
        <div class="ui ordered list">
            <div class="item">会员威望值代表对协会的贡献，威望值＝会员金币余额 ＋ 会员义工贡献 ＋ 会员捐赠 ＋ 会员为协会拉来的捐赠。</div>
            <div class="item">会员义工贡献，由协会办公室评定威望值。</div>
            <div class="item">会员向协会捐赠1元或等值物品、服务，可获得1分威望。</div>
            <div class="item">会员为协会拉到价值10元的捐赠，可获得1分威望。</div>
            <div class="item">威望值仅用于荣誉表彰。若会员威望值高于3000分，但后期因为个人原因很少能参与协会事务，可申请从会员身份转为协会顾问。</div>
        </div>

        <h3 class="ui red header">五、财政</h3>
        <div class="ui ordered list">
            <div class="item">协会收入来源为捐赠收入和非捐赠收入，所有收入统一管理。协会接收会员或非会员个人、企事业单位、政府机关的自愿的货币或非货币捐助。协会不收取会员会费。非捐赠收入分为两类：a) 会员使用协会的设备、耗材等资源，应自愿按照标价支付费用；b）协会在法律许可的范围内，委托合作企业对外小规模销售作品、纪念品或技术服务。</div>
            <div class="item">捐助者有权了解捐助的财物去向。捐助若带附加条件，由理事会审议决定是否接受，且不能与协会章程抵触。</div>
            <div class="item">协会拥有的货币资产由办公室负责出纳记账，所有支出由理事会签字审核，并在五个工作日内通过网络向所有会员公示。超过1万元的支出应提前公示接受会员询问。</div>
            <div class="item">通过理事会立项审核的作品项目，可申请协会全额拨款进行开发。个人自行立项的作品，理事会根据作品质量酌情给予资助。</div>
            <div class="item">协会拥有的非货币资产由办公室进行管理、维修。</div>
        </div>

        <h3 class="ui red header">六、知识产权</h3>
        <div class="ui ordered list">
            <div class="item">会员在协会内部分享个人在技术、思想等方面的经验或创新时，如无书面说明，均默认为认可开源文化，遵守GPL协议。</div>
            <div class="item">协会鼓励会员之间自愿、友好合作，推进创意实现。会员若想推进个人作品产品化，应与合作者事先明确权益分配，不损害其他会员的权益，不侵犯法律保护的知识产权。</div>
            <div class="item">协会对于会员创意的产业化提供力所能及的支持，但不参与经营行为。</div>
        </div>

        <h3 class="ui red header">七、其他</h3>
        <p>本章程的修订应由会员大会审核通过。原则性条款应避免大幅改动。</p>

        <h5 class="ui right aligned header">西湖创客汇</h5>
        <h5 class="ui right aligned header">2013年11月</h5>


        <div class="ui horizontal icon divider">
            <i class="circular leaf icon"></i>
        </div>

        <p>欢迎加入DIY的队伍，创新让生活更美好！</p>
        
    </body>
</html>