<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no"/>
    <title>完善个人信息</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="/semantic/packaged/css/semantic.min.css">
    <link rel="shortcut icon" href="/icon/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/weixin/common.css">
    <link rel="stylesheet" type="text/css" href="/css/weixin/editUser.css">

    <script type="text/javascript">
        // 隐藏微信中网页右上角按钮
        document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
            WeixinJSBridge.call('showOptionMenu');
        });
    </script>

    <script type="text/javascript">
        var r = "<%= r %>";
        var msg = "<%= msg %>";
        var workOrStudy = "<%= user.workOrStudy %>"

        var user = {
            email: "<%= user.email %>",
            username: "<%= user.username %>",
            _id: "<%= user._id %>",
            coin: Number("<%= user.coin %>"),
            headimgurl: "<%= user.headimgurl %>",
            interest: "<%= user.interest %>" || [],
            profession: "<%= user.profession %>",
            school: "<%= user.school %>",
            job: "<%= user.job %>",
            company: "<%= user.company %>",
            workOrStudy: "<%= user.workOrStudy %>",
            inAddress: "<%= user.inAddress %>",
            city: "<%= user.city %>",
            province: "<%= user.province %>",
            qq: "<%= user.qq %>",
            birthday: Number("<%= user.birthday %>"),
            sex: Number("<%= user.sex %>"),
            createTime: Number("<%= user.createTime %>"),
            phone: "<%= user.phone %>"
        };
        user.interest = user.interest.split(',');
    </script>
</head>
<body>

    <div class="mask">
        <p>
            正在上传...<span>0</span>%
        </p>
    </div>

    <div class="ui segment">
        <div class="ui small inverted green block header" style="font-size:1em;">1，请详细阅读<a href="/weixin/constitution">《西湖创客汇章程》</a></div>
    </div>

    <div class="ui segment">
        
        <div class="ui small inverted green block header" style="font-size:1em;">2，完善个人基本信息</div>
        <div class="ui divided list">
            <a class="item" href="javascript:void(0);" style="line-height: 80px;" id="headimgItem">
                <i class="right floated arrow icon" style="margin-top: 32px;"></i>
                <img id="headimgurl" class="right floated" src="<%= user.headimgurl || '/img/default_avatar.png' %>" style="width: 75px;height:75px;">
                <div class="content">
                    <div class="header">头像</div>
                </div>
                <div id="pickfiles"></div>
            </a>
            <div class="item">
                <div class="content">
                    <div class="header">邮箱地址</div>
                </div>
                <div class="ui header tiny right floated"><%= user.email %></div>
            </div>
            <div class="item" id="usernameItem">
                <div class="content">
                    <div class="header">真实姓名</div>
                </div>
                <div class="ui header tiny right floated"><%= user.username %></div>
            </div>
            <div class="item" id="phoneItem">
                <div class="content">
                    <div class="header">手机号码</div>
                </div>
                <i class="right floated arrow icon" style="margin-top: 2px;"></i>
                <div class="ui header tiny right floated" contenteditable="true" id="phone"><%= user.phone %></div>
            </div>
        </div>
    </div>

    <div class="ui segment">
        <div class="ui divided list">
            <div class="item" id="sexItem">
                <div class="content">
                    <div class="header">性别</div>
                </div>
                <i class="right floated arrow icon" style="margin-top: 2px;"></i>
                <div class="ui header tiny right floated">
                	<select name="sex" id="sex">
                		<% if(user.sex === 0) { %>
                			<option value="0" selected="selected">未知</option>
                		<% } else { %>
                			<option value="0">未知</option>
                		<% } %>
                		
                		<% if(user.sex === 1) { %>
                			<option value="1" selected="selected">男</option>
                		<% } else { %>
                			<option value="1">男</option>
                		<% } %>
                		
                		<% if(user.sex === 2) { %>
                			<option value="2" selected="selected">女</option>
                		<% } else { %>
                			<option value="2">女</option>
                		<% } %>
                	</select>
                </div>
            </div>
            <div class="item" id="birthdayItem">
                <div class="content">
                    <div class="header">生日</div>
                </div>
                <i class="right floated arrow icon" style="margin-top: 2px;"></i>
                <div class="ui header tiny right floated">
                	<input type="date" id="birthday" />
                </div>
            </div>
            <div class="item" id="qqItem">
                <div class="content">
                    <div class="header">QQ</div>
                </div>
                <i class="right floated arrow icon" style="margin-top: 2px;"></i>
                <div class="ui header tiny right floated" contenteditable="true" id="qq"><%= user.qq || '未填写' %></div>
            </div>
        </div>
    </div>

    <div class="ui segment">
        <div class="ui divided list">
            <div class="item" id="areaItem">
                <div class="content">
                    <div class="header">地区</div>
                </div>
                <i class="right floated arrow icon" style="margin-top: 2px;"></i>
                <div class="ui header tiny right floated">
                    <% if(user.province != '0') { %>
                        <%= user.province %> <%= user.city %>
                    <% } %>
                </div>
            </div>
            <div class="item" id="inAddressItem">
                <div class="content">
                    <div class="header">我的收货地址</div>
                </div>
                <i class="right floated arrow icon" style="margin-top: 2px;"></i>
                <div class="ui header tiny right floated"></div>
            </div>
            
            <div class="item" id="interestItem">
                <div class="content">
                    <div class="header">感兴趣的行业</div>
                </div>
                <i class="right floated arrow icon" style="margin-top: 2px;"></i>
                <div class="ui header tiny right floated">
                </div>
            </div>
        </div>
    </div>

    <div class="ui basic segment" id="workOrStudyField">
        <div class="ui form" style="padding-left: 10px;">
            <div class="grouped inline fields">
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="workOrStudy" id="student">
                        <label>在读学生</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="workOrStudy" id="haswork">
                        <label>已工作</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui segment" id="studentField">
        <div class="ui divided list">
            <div class="item" id="schoolItem">
                <div class="content">
                    <div class="header">学校</div>
                </div>
                <i class="right floated arrow icon" style="margin-top: 2px;"></i>
                <div class="ui header tiny right floated" contenteditable="true" id="school"><%= user.school || '未填写' %></div>
            </div>
            <div class="item" id="professionItem">
                <div class="content">
                    <div class="header">专业</div>
                </div>
                <i class="right floated arrow icon" style="margin-top: 2px;"></i>
                <div class="ui header tiny right floated" contenteditable="true" id="profession"><%= user.profession || '未填写' %></div>
            </div>
        </div>
    </div>

    <div class="ui segment" id="hasworkField">
        <div class="ui divided list">
            <div class="item" id="companyItem">
                <div class="content">
                    <div class="header">公司</div>
                </div>
                <i class="right floated arrow icon" style="margin-top: 2px;"></i>
                <div class="ui header tiny right floated" contenteditable="true" id="company"><%= user.company || '未填写' %></div>
            </div>
            <div class="item" id="jobItem">
                <div class="content">
                    <div class="header">岗位</div>
                </div>
                <i class="right floated arrow icon" style="margin-top: 2px;"></i>
                <div class="ui header tiny right floated" contenteditable="true" id="job"><%= user.job || '未填写' %></div>
            </div>
        </div>
    </div>

    <div class="ui basic segment">
        <div class="ui fluid green button" id="saveUpdate">保存修改</div>
    </div>

    <div class="ui basic segment">
        <div class="ui fluid accordion">
            <div class="title" style="padding:0;">
                <div class="ui small inverted green block header" style="font-size:1em;">3，领取会员证和名片</div>
            </div>
            <div class="content">
                <p>1、西湖创客汇目前不收取会员费，但为了保障会员身份的严肃性，每一位会员必须缴纳￥60元的工本费办理会员证和会员名片。</p>
                <p>名片格式如下，联系信息全部以您填写的注册信息和会员登记表为准。</p>
                <img src="/img/mingpian.jpg" width="100%" alt="">
                <p>2、工本费请汇至协会理事长账户：支付宝 caiwu@huiwen.com，户名：戴立。请务必留言【个人姓名-西湖创客汇名片费】。</p>
                <p>协会财务制度见《章程》，确保每季度向全体会员发布公开透明的财务账目。</p>
                <p>3、会员证和名片将快递给您，或者您也可到最近一期的活动现场领取。</p>
                <p>不明之处可咨询协会办公室张欢：18058771114。</p>
                
            </div>
        </div>
    </div>

    <!-- 我的收货地址 -->
    <div class="ui teal right overlay sidebar menu" id='inAddressSidebar'>
        <div class="ui basic segment">
            <div class="ui form">
                <div class="field">
                    <div class="ui input">
                        <input type="text" style="padding-left:10px;">
                    </div>
                </div>
                <div class="ui green fluid button save" style="margin-top: 10px;">完成</div>
            </div>
        </div>
    </div>

    <!-- 地区 -->
    <div class="ui teal right overlay sidebar menu" id='areaSidebar'>
        <div class="ui basic segment">
            <select name="province" id="provinceSelect">
                <option value="0">请选择</option>
                <option value="北京">北京</option>
                <option value="天津">天津</option>
                <option value="上海">上海</option>
                <option value="重庆">重庆</option>
                <option value="河北省">河北省</option>
                <option value="山西省">山西省</option>
                <option value="辽宁省">辽宁省</option>
                <option value="吉林省">吉林省</option>
                <option value="黑龙江省">黑龙江省</option>
                <option value="江苏省">江苏省</option>
                <option value="浙江省">浙江省</option>
                <option value="安徽省">安徽省</option>
                <option value="福建省">福建省</option>
                <option value="江西省">江西省</option>
                <option value="山东省">山东省</option>
                <option value="河南省">河南省</option>
                <option value="湖北省">湖北省</option>
                <option value="湖南省">湖南省</option>
                <option value="广东省">广东省</option>
                <option value="海南省">海南省</option>
                <option value="四川省">四川省</option>
                <option value="贵州省">贵州省</option>
                <option value="云南省">云南省</option>
                <option value="陕西省">陕西省</option>
                <option value="甘肃省">甘肃省</option>
                <option value="青海省">青海省</option>
                <option value="台湾省">台湾省</option>
                <option value="西藏自治区">西藏自治区</option>
                <option value="广西壮族自治区">广西壮族自治区</option>
                <option value="内蒙古自治区">内蒙古自治区</option>
                <option value="宁夏回族自治区">宁夏回族自治区</option>
                <option value="新疆维吾尔自治区">新疆维吾尔自治区</option>
                <option value="香港特别行政区">香港特别行政区</option>
                <option value="澳门特别行政区">澳门特别行政区</option>
            </select>
            <select name="city" id="citySelect">
                <option value="0">请选择</option>
            </select>
            <div class="ui green fluid button save" style="margin-top: 10px;">完成</div>
        </div>
    </div>

    <!-- 感兴趣的行业 -->
    <div class="ui right sidebar" id="interestSidebar" style="background:#fff;">
        <div class="ui basic segment">
            <div class="ui small header">感兴趣的行业</div>
            <div class="ui form">
                <main class="ui two column grid">
                    <section class="column">
                        <div class="inline field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="时尚科技">
                                <label>时尚科技</label>
                            </div>
                        </div>
                        <div class="inline field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="智慧城市">
                                <label>智慧城市</label>
                            </div>
                        </div>
                        <div class="inline field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="艺术设计">
                                <label>艺术设计</label>
                            </div>
                        </div>
                        <div class="inline field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="品质生活">
                                <label>品质生活</label>
                            </div>
                        </div>
                        <div class="inline field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="表达传播">
                                <label>表达传播</label>
                            </div>
                        </div>
                    </section>
                    <section class="column">
                        <div class="inline field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="自然环境">
                                <label>自然环境</label>
                            </div>
                        </div>
                        <div class="inline field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="社会公益">
                                <label>社会公益</label>
                            </div>
                        </div>
                        <div class="inline field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="爱心辅助">
                                <label>爱心辅助</label>
                            </div>
                        </div>
                        <div class="inline field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="医疗健康">
                                <label>医疗健康</label>
                            </div>
                        </div>
                        <div class="inline field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="运动休闲">
                                <label>运动休闲</label>
                            </div>
                        </div>
                    </section>
                </main>
            
            </div>
            <div class="ui green fluid button save" style="margin-top: 10px;">完成</div>
        </div>
    </div>
    
    <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/semantic/packaged/javascript/semantic.min.js"></script>
    <script type="text/javascript" src="/plupload/plupload.full.min.js"></script>
    <script type="text/javascript" src="/js/qiniu.js"></script>
    <script src="/seajs/sea.js" data-config="/js/config" data-main="/js/weixin/editUser" ></script>

</body>
</html>

