<div class="ui fixed bottom attached four item labeled icon inverted teal menu" id="footernav">
    <a class="item" href="/weixin/projects" id="projects">
        <i class="list layout icon"></i>项目
    </a>
    <a class="item" href="/weixin/weikecheng" id="weikecheng">
        <i class="video icon"></i>微课程
    </a>
    <a class="item" href="/weixin/events" id="events">
        <i class="calendar icon"></i>活动
    </a>
    <a class="item" href="/weixin/userCenter" id="me">
        <i class="user icon"></i>我
    </a>
</div>
<!-- 
https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxc2d82aa2e44a2faa&redirect_uri=http%3A%2F%2Fxihumaker.jios.org%2FoauthResponse&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect
 -->

