<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>西湖创客汇</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="/semantic/packaged/css/semantic.min.css">
    <link rel="shortcut icon" href="/icon/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/weixin/common.css">
    <link rel="stylesheet" type="text/css" href="/css/weixin/index.css">
</head>
<body>

    <img src="/img/logo.png" width="300" class="logo">

    <div class="ui basic segment">
        <p class="indent">西湖创客汇是杭州地区的创客空间，我们的主旨是 <strong>青年 | 创新 | 科技</strong> ：</p>

        <p class="indent"><strong>青年</strong> —— 青年意味着阳光上进，视青春为珍宝，爱折腾，绝不甘心埋没生命的能量；青年更热爱生活，能敏感地体会到生活的质感，触碰到创新的种子微粒；青年也意味着乐于分享快乐。</p>

        <p class="indent"><strong>创新</strong> —— 万物更新，文明和生命方得延续。年轻人是创新力之源，创客空间像一个实验室，鼓励没有任何功利心的创新，无需对想象力施加一丝一毫的局限，因为我们相信，没有任何“用处”的创新，却有机会真正拓宽人类的道路。</p>

        <p class="indent"><strong>科技</strong> —— 我们不是空想主义者，DIY爱好者从来都拥有实现创意的工具和实力，连改造世界都不在话下，故江湖共识：嫁人就嫁Handy Man！</p>
    </div>

    

    








    

    

    <% include ./inc_footer_nav.html %>



    
    <script src="/seajs/sea.js" data-config="/js/config" data-main="/js/weixin/index" ></script>

</body>
</html>