<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>《中国创客报》</title>
        <meta name="description" content="">
        <!-- Le styles -->
        <link rel="stylesheet" href="/semantic/packaged/css/semantic.min.css">
        <link rel="shortcut icon" href="/icon/favicon.ico">
        <style type="text/css">
            .ui.menu .item {
                padding: 0.9em 0.9em;
            }
        </style>
    </head>
    <body>

        <div class="ui large fluid vertical menu">
            <a class="item" href="/weixin/paper/3"><i class="right arrow icon"></i>《西湖创客报》V03</a>
            <a class="item" href="/weixin/paper/2"><i class="right arrow icon"></i>《西湖创客报》V02</a>
            <a class="item" href="/weixin/paper/1"><i class="right arrow icon"></i>《西湖创客报》V01</a>
        </div>

    </body>
</html>