<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title><%= project.title %> - 西湖创客汇</title>
    <meta name="description" content="">
    
    <link rel="stylesheet" href="/bootflat/css/site.min.css">
    <link rel="stylesheet" type="text/css" href="/css/weixin/projectInfo.css">
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
        <script src="/bootflat/js/html5shiv.js"></script>
        <script src="/bootflat/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/bootflat/js/site.min.js"></script>
    
    <script type="text/javascript">
        var r = "<%= r %>";
        var msg = "<%= msg %>";
        var project = {
                authorId: "<%= project.authorId %>",
                _id: "<%= project._id %>",
                rankScore: <%= project.rankScore %>,
                level: <%= project.level %>,
                description: '<%= project.description %>',
                progress: <%= project.progress %>,
                coinNum: <%= project.coinNum %>,
                concernNum: <%= project.concernNum %>,
                likeNum: <%= project.likeNum %>,
                teamProfile: "<%= project.teamProfile %>",
                teamName: "<%= project.teamName %>",
                coverUrl: "<%= project.coverUrl %>",
                updateTime: <%= project.updateTime %>,
                createTime: <%= project.createTime %>,
                group: <%= project.group %>,
                industry: <%= project.industry %>,
                title: "<%= project.title %>"
            };
        var hasLogin = <%= hasLogin %>;
        var isMyProject = <%= isMyProject %>;
        var hasJoin = <%= hasJoin %>;
    </script>
</head>
<body>

    <div class="container">
        <h3 id="title" class="text-center"><%= project.title %></h3>
        <p>
            启动：<span id="createTime"></span>
            <span id="group"></span>
            <span id="industry"></span>  
        </p>
        <% if(project.coverUrl) { %>
            <img src="<%= project.coverUrl %>" width="100%">
        <% } %>
        <div class="panel panel-default">
            
            <div class="panel-body" id="description"></div>
            <div class="panel-heading">
                <h3 class="panel-title">进度</h3>
            </div>
            <div class="panel-body">
                <span style="float: left;padding: 0 15px 0 0;" id="progress"></span>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= project.progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= project.progress %>%">
                    </div>
                </div>
            </div>
            <div class="panel-heading">
                <h3 class="panel-title">作者团队</h3>
            </div>
            <div class="panel-body">
                <h4 class="text-center"><%= project.teamName %></h4>
                <p class="text-center"><%= project.teamProfile %></p>

                <!-- 用户已经登录 -->
                <% if(hasLogin) { %>
                    <!-- 非当前用户创建的项目 -->
                    <% if(!isMyProject) { %>
                        <!-- 已加入该项目 -->
                        <% if(hasJoin) { %>
                            <button type="button" class="btn btn-primary btn-block" id="quitTeam" >退出项目</button>
                        <!-- 未加入该项目 -->
                        <% } else { %>
                            <button type="button" class="btn btn-primary btn-block" id="joinTeam" >加入项目</button>
                        <% } %>
                    <% } %>
                <!-- 用户未登录 -->
                <% } else { %>
                    <button type="button" class="btn btn-primary btn-block loginBtn" style="margin-bottom:10px;">加入项目</button>
                <% } %>
                
                <div id="members"></div>
            </div>

            <% if(!isMyProject) { %>
                <div class="panel-heading">
                    <h3 class="panel-title">支持本项目</h3>
                </div>
            <% } %>
            
            <!-- 用户已经登录 -->
            <% if(hasLogin) { %>
                <!-- 非当前用户创建的项目 -->
                <% if(!isMyProject) { %>
                    <div class="panel-body text-center support">
                        <button type="button" title="赞" class="btn btn-primary likeBtn" id="like"><i class="glyphicon glyphicon-heart"></i> <span id="likeLabel">赞</span><span id="likeNum"><%= project.likeNum %></span></button>
                        <button type="button" title="关注" class="btn btn-primary concernBtn" id="concern"><i class="glyphicon glyphicon-star"></i> <span id="concernLabel">关注</span><span id="concernNum"><%= project.concernNum %></span></button>
                        <button type="button" class="btn btn-danger develop"><i class="glyphicon glyphicon-usd"></i> 金币<%= project.coinNum %></button>
                    </div>
                <!-- 当前用户创建的项目 -->
                <% } else { %>
                    <div class="panel-body text-center support">
                        <button type="button" title="赞" class="btn btn-primary likeBtn" id="like"><i class="glyphicon glyphicon-heart"></i> <span id="likeLabel">赞</span><span id="likeNum"><%= project.likeNum %></span></button>
                    </div>
                <% } %>
            <!-- 用户未登录 -->
            <% } else { %>
                <div class="panel-body text-center support">
                    <button type="button" class="btn btn-primary loginBtn"><i class="glyphicon glyphicon-heart"></i> 赞<%= project.likeNum %></button>
                    <button type="button" class="btn btn-primary loginBtn"><i class="glyphicon glyphicon-star"></i> 关注<%= project.concernNum %></button>
                    <button type="button" class="btn btn-danger loginBtn"><i class="glyphicon glyphicon-usd"></i> 金币<%= project.coinNum %></button>
                </div>
            <% } %>

            <div class="panel-heading">
                <h3 class="panel-title">围观群众</h3>
            </div>
            <div class="panel-body">
    
                <div id="commentList"></div>
                <% if(hasLogin) { %>
                    <textarea class="form-control" rows="3" style="margin: 10px 0;" id="content" placeholder="发表一个评论"></textarea>
                    <button type="button" class="btn btn-success btn-block" id="addComment">发言</button>
                <% } else { %>
                    <p>你必须先登录才能发表评论。
                        <a href="javascript:void(0);" class="loginBtn">登录</a>
                    </p>
                <% } %>

            </div>
            
        </div>
    </div>
    
    <% include ./inc_login_modal.html %>

    




    

    
    
    <script src="/seajs/sea.js" data-config="/js/config" data-main="/js/weixin/projectInfo" ></script>
</body>
</html>