<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>创客项目 - 西湖创客汇</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="/semantic/packaged/css/semantic.min.css">
    <link rel="shortcut icon" href="/icon/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/weixin/common.css">
    <link rel="stylesheet" type="text/css" href="/css/weixin/projects.css">
    <script type="text/javascript">
        // 显示微信中网页右上角按钮
        document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
            WeixinJSBridge.call('showOptionMenu');
        });
    </script>
</head>
<body>

    <!-- 顶部导航菜单 -->
    <div class="ui small fixed transparent green inverted main menu" id="topmenu">
        <div class="menu">
            <div class="ui dropdown item" id="industryDropdown">
                <input type="hidden" name="industry" value="-1" id="industry">
                <div class="text ellipsis">全部行业</div>
                <i class="dropdown icon"></i>
                <div class="menu ui transition hidden">
                    <div class="item" data-value="-1">全部行业</div>
                    <div class="item" data-value="1001">时尚科技</div>
                    <div class="item" data-value="1002">艺术设计</div>
                    <div class="item" data-value="1003">自然环境</div>
                    <div class="item" data-value="1004">智慧城市</div>
                    <div class="item" data-value="1005">品质生活</div>
                    <div class="item" data-value="1006">医疗健康</div>
                    <div class="item" data-value="1007">运动休闲</div>
                    <div class="item" data-value="1008">爱心辅助</div>
                    <div class="item" data-value="1009">表达传播</div>
                    <div class="item" data-value="1010">社会公益</div>
                </div>
            </div>
            <div class="ui dropdown item" id="groupDropdown">
                <input type="hidden" name="group" value="-1" id="group">
                <div class="text ellipsis">全部组别</div>
                <i class="dropdown icon"></i>
                <div class="menu ui transition hidden">
                    <div class="item" data-value="-1">全部组别</div>
                    <div class="item" data-value="2001">杭电</div>
                    <div class="item" data-value="2003">杭州分舵</div>
                    <div class="item" data-value="2004">洛阳分舵</div>
                    <div class="item" data-value="2005">浙江大学</div>
                    <div class="item" data-value="2002">中国计量学院</div>
                </div>
            </div>

            <div class="ui dropdown item right" id="moreDropdown">
                <input type="hidden" name="more" value="" id="more">
                <div class="text ellipsis">默认</div>
                <i class="dropdown icon"></i>
                <div class="menu ui transition hidden">
                    <div class="item" data-value="3001">精华</div>
                    <div class="item" data-value="3002">按热度排序</div>
                    <div class="item" data-value="3003">按时间排序</div>
                    <div class="item" data-value="3004">已完成项目</div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- end 顶部导航菜单 -->

    <div class="ui active inverted dimmer" id="loading">
        <div class="ui medium text loader">Loading</div>
    </div>

    <div class="ui items" id="projectList">
        <div class="ui basic center aligned segment msgTip" id="msgTip">
            <h3 class="ui teal header" style="height: 300px;line-height: 300px;"></h3>
        </div>
    </div>

    <h5 class="ui center aligned teal header loadMore" id="loadMore">加载更多</h5>

    
<!--
    < include ./inc_footer_nav.html %>
-->

    <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/semantic/packaged/javascript/semantic.min.js"></script>

    <script src="/seajs/sea.js" data-config="/js/config" data-main="/js/weixin/projects" ></script>

</body>
</html>