<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>推广创客文化 - 西湖创客汇</title>
        <meta name="description" content="">
        <!-- Le styles -->
        <link rel="stylesheet" href="/semantic/packaged/css/semantic.min.css">
        <link rel="shortcut icon" href="/icon/favicon.ico">
    </head>
    <body>

        <p>阐述推广创客文化的意义，鼓励大家推荐朋友关注本服务号或者入会登记。后期考虑加入捐款入口。</p>

        <div class="ui horizontal icon divider">
            <i class="circular leaf icon"></i>
        </div>

        <p>欢迎加入DIY的队伍，创新让生活更美好！</p>

    </body>
</html>