<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>会员秀</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="/semantic/packaged/css/semantic.min.css">

    <style type="text/css">
        .list .item {
            text-decoration: none;
            color: gray;
        }
        .ui.list .item>img {
            width: 45px;
            height: 45px;
        }
        #msgTip {
            display: none;
            padding-top: 100px;
        }
    </style>
    
</head>
<body>

    <div class="container">
        <div class="ui center aligned teal header" id="msgTip"></div>
        <div class="ui divided list" id="vipList"></div>
    </div>

    <script type="text/javascript" src="/lib/zepto.min.js"></script>
    <script type="text/javascript" src="/js/weixin/vipShow.js"></script>
</body>
</html>


