<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <title>创客微课程 - 西湖创客汇</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="/semantic/packaged/css/semantic.min.css">
        <link rel="shortcut icon" href="/icon/favicon.ico">
        <style type="text/css">
            .ui.vertical.menu .item>.label {
                float: inherit;
            }
        </style>
    </head>
    <body>

        <div class="ui large fluid vertical menu">
            <a class="item" href="/weixin/weikecheng/开源硬件与传感器">
                <i class="right arrow icon"></i>开源硬件与传感器
                <div class="ui small red label">2</div>
            </a>
            <a class="item" href="/weixin/weikecheng/创客文化"><i class="right arrow icon"></i>创客文化</a>
            <a class="item" href="/weixin/weikecheng/PM与UX"><i class="right arrow icon"></i>PM与UX</a>
            <a class="item" href="/weixin/weikecheng/开源软件"><i class="right arrow icon"></i>开源软件</a>
            <a class="item" href="/weixin/weikecheng/光机电"><i class="right arrow icon"></i>光机电</a>
            <a class="item" href="/weixin/weikecheng/文化艺术"><i class="right arrow icon"></i>文化艺术</a>
            <a class="item" href="/weixin/weikecheng/杂学百科"><i class="right arrow icon"></i>杂学百科</a>
        </div>


<!-- 
        <video controls style="width: 100%; height: 100%; display: block; position: relative; top: -200%;" preload="none" src="http://pl.youku.com/playlist/m3u8?vid=171763143&amp;type=mp4&amp;ts=1395229940&amp;keyframe=0&amp;ep=dCGdH0uPX8cE5SDYgT8bNiriJSYOXP8N9xiDgtNmA9QsS%2Bi7&amp;sid=639522994037912a60aa1&amp;token=8304&amp;ctype=12&amp;ev=1&amp;oip=1942597130"></video>
 -->

    </body>
</html>