<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>创客微课程 - 西湖创客汇</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="/semantic/packaged/css/semantic.min.css">
    <link rel="shortcut icon" href="/icon/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/weixin/common.css">
    <link rel="stylesheet" type="text/css" href="/css/weixin/weikecheng.css">

</head>
<body>

    <div class="ui basic segment" style="padding: 10px;">
        <div class="ui large fluid vertical menu">
        <a class="item" href="/weixin/weikecheng/开源硬件与传感器">
            <i class="right black arrow icon"></i>开源硬件与传感器
            <div class="ui small red label">3</div>
        </a>
        <a class="item" href="/weixin/weikecheng/创客文化">
            <i class="right black arrow icon"></i>创客文化
            <div class="ui small red label">1</div>
        </a>
        <a class="item" href="/weixin/weikecheng/PM与UX"><i class="right black arrow icon"></i>PM与UX</a>
        <a class="item" href="/weixin/weikecheng/开源软件"><i class="right black arrow icon"></i>开源软件</a>
        <a class="item" href="/weixin/weikecheng/光机电"><i class="right black arrow icon"></i>光机电</a>
        <a class="item" href="/weixin/weikecheng/文化艺术"><i class="right black arrow icon"></i>文化艺术</a>
        <a class="item" href="/weixin/weikecheng/杂学百科"><i class="right black arrow icon"></i>杂学百科</a>
    </div>
    </div>

<!--
    < include ./inc_footer_nav.html %>
-->
    
    <script src="/seajs/sea.js" data-config="/js/config" data-main="/js/weixin/weikecheng" ></script>
</body>
</html>