<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>什么是创客？</title>
        <meta name="description" content="">
        <!-- Le styles -->
        <link rel="stylesheet" href="/semantic/packaged/css/semantic.min.css">
        <link rel="shortcut icon" href="/icon/favicon.ico">
    </head>
    <body>

        <img src="/img/logo.jpg" width="100%" alt="">
        
		<h3 class="ui teal header">什么是创客？</h3>
        <p>我们这个世界问题很多，批评者众，清议无为。但创客不一样，创客Maker或极客Geek是不仅对世界抱有自己的观点，还能运用各种DIY手段拿出解决方案表达观点的创新人群。从这个角度来看，创新是一种表达，是饱含人文精神的科学思想。</p>
        <p>创客门槛不高，在社会、艺术、技术等任一方面有见解和动手能力均可，小孩子也可当创客。</p>

        <h3 class="ui teal header">创客圈子神秘吗？</h3>
        <p>创客们扎堆的地方一般称为创客空间。大家分享新的技术和应用方式，或有助于未来的工作，或纯粹出于对DIY的兴趣。</p>
        <p>因创客们展示创意的需求，发展出了各种创客嘉年华、Maker Faire（美国《Make》杂志社举办的全球最大DIY聚会）。</p>
 
        <h3 class="ui teal header">全球创客运动</h3>
        <p>欧美创客文化盛行，美国仅Boulder小城100平方公里的土地上就有Sparkfun等众多开源硬件公司和10多个创客空间，我国总共才20多个创客空间。所以中国虽然工业总产值已超越美国，但美国相对我国仍然保持了很大的创新优势。</p>
        <p>过去国人把创新当锦上添花，现在创新真正是竞争的主战场。创客社区发展任重道远。</p>

        <div class="ui horizontal icon divider">
            <i class="circular leaf icon"></i>
        </div>

        <p>欢迎加入DIY的队伍，创新让生活更美好！</p>

    </body>
</html>