<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>编辑项目 - 西湖创客汇</title>
    <meta name="description" content="">
    
    <link rel="stylesheet" href="/bootflat/css/site.min.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/editProject.css">
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
        <script src="/bootflat/js/html5shiv.js"></script>
        <script src="/bootflat/js/respond.min.js"></script>
    <![endif]-->
    <!-- 样式文件 -->
    <link rel="stylesheet" type="text/css" href="/umeditor/themes/default/css/umeditor.css">
    <script type="text/javascript" src="/bootflat/js/site.min.js"></script>
    <!-- 配置文件 -->
    <script type="text/javascript" src="/umeditor/umeditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="/umeditor/umeditor.min.js"></script>
    <!-- 语言包文件 -->
    <script type="text/javascript" src="/umeditor/lang/zh-cn/zh-cn.js"></script>
    <!-- 实例化编辑器代码 -->
    <script type="text/javascript">
        var hasLogin = <%= hasLogin %>;
        var r = <%= r %>;
        var msg = "<%= msg %>";
        var project = {
            _id: '<%= project._id %>',
            description: '<%= project.description %>',
            industry: <%= project.industry %>,
            group: <%= project.group %>,
            coverUrl: '<%= project.coverUrl %>'
        };
    </script>
</head>
<body>
    
    <%include ./inc_top_navbar.html %>

    <div class="container main">

        <div class="row">
            <div class="col-md-9">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="email" class="form-control" id="title" placeholder="项目标题：不超过25个字" value="<%= project.title %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <!--style给定宽度可以影响编辑器的最终宽度-->
                            <script type="text/plain" id="myEditor" style="width:100%;height:240px;"></script>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <form class="form-horizontal" role="form">

                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">行业选择：</label>
                        <div class="col-sm-8">
                            <select name="industry" class="form-control" id="industry">
                                <option value="-1">请选择</option>
                                <option value="1001">时尚科技</option>
                                <option value="1002">艺术设计</option>
                                <option value="1003">自然环境</option>
                                <option value="1004">智慧城市</option>
                                <option value="1005">品质生活</option>
                                <option value="1006">医疗健康</option>
                                <option value="1007">运动休闲</option>
                                <option value="1008">爱心辅助</option>
                                <option value="1009">表达传播</option>
                                <option value="1010">社会公益</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">组别选择：</label>
                        <div class="col-sm-8">
                            <select name="group" id="group" class="form-control">
                                <option value="-1">请选择</option>
                                <option value="2001">杭电</option>
                                <option value="2003">杭州分舵</option>
                                <option value="2004">洛阳分舵</option>
                                <option value="2005">浙江大学</option>
                                <option value="2002">中国计量学院</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">项目队名：</label>
                        <div class="col-sm-8">
                            <input type="text" id="teamName" class="form-control" placeholder="不能超过8个字" value="<%= project.teamName %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">团队介绍：</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="teamProfile" rows="3" placeholder="不能超过18个字"><%= project.teamProfile %></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">项目进度：</label>
                        <div class="col-sm-6">
                            <input type="text" id="progress" class="form-control" placeholder="数字0~100" value="<%= project.progress %>">
                        </div>
                        <div class="col-sm-2" style="line-height: 34px;text-align: left;padding: 0;">%</div>
                    </div>

                    <div class="form-group" id="pickfilesContainer">
                        <label for="" class="col-sm-4 control-label">封面图片：</label>
                        <div class="col-sm-8">
                            <button type="button" class="btn btn-info" id="pickfiles">选择图片</button>
                        </div>
                        <p class="col-sm-12">（支持jpg、jpeg、png格式；建议尺寸大小: 600X450px）</p>
                        <img src="" width="0" alt="" id="coverUrl" style="margin-left:7.5%;">
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="alert alert-info alert-warning">
                                <strong id="alertInfo">修改成功</strong>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-primary btn-block" id="saveBtn">保存修改</button>
                        </div>
                    </div>
                    

                </form>
            </div>
        </div>

    </div>

    <%include ./inc_footer.html %>
    
    <script type="text/javascript" src="/plupload/plupload.full.min.js"></script>
    <script type="text/javascript" src="/js/qiniu.js"></script>
    <script src="/seajs/sea.js" data-config="/js/config" data-main="/js/editProject" ></script>
</body>
</html>