<!-- 底部footer -->
<div class="footer">
    <div class="container">
        <div class="clearfix">
            <div class="footer-logo"><a href="/">西湖创客汇</a></div>
            <dl class="footer-nav">
                <dt class="nav-title">创客？</dt>
                <dd class="nav-item"><a href="/weixin/article/0">什么是创客？</a></dd>
                <dd class="nav-item"><a href="/weixin/article/1">西湖创客汇简介&理事会及联系方式</a></dd>
                <dd class="nav-item"><a href="/weixin/constitution">西湖创客汇章程</a></dd>
                <dd class="nav-item"><a href="/weixin/donation">捐助本会</a></dd>
            </dl>
            <dl class="footer-nav">
                <dt class="nav-title">《西湖创客报》</dt>
                <dd class="nav-item"><a href="/weixin/paper/1">《西湖创客报》V1</a></dd>
                <dd class="nav-item"><a href="/weixin/paper/2">《西湖创客报》V2</a></dd>
                <dd class="nav-item"><a href="/weixin/paper/3">《西湖创客报》V3</a></dd>
            </dl>
            <dl class="footer-nav">
                <dt class="nav-title">微信号二维码</dt>
                <dd class="nav-item">
                    <img src="/img/0.jpeg" width="120" alt="">
                </dd>
            </dl>
        </div>
        <div class="footer-copyright text-center">Copyright © 2014 xihumaker.All rights reserved. 浙ICP备09056703号-3</div>
    </div>
</div>
<!-- end 底部footer -->