<!-- 底部footer -->
<div class="footer">
    <div class="container">
        <div class="clearfix">
            <div class="footer-logo"><a href="###">西湖创客汇</a></div>
            <dl class="footer-nav">
                <dt class="nav-title">创客？</dt>
                <dd class="nav-item"><a href="###">什么是创客？</a></dd>
                <dd class="nav-item"><a href="###">西湖创客汇简</a></dd>
                <dd class="nav-item"><a href="###">理事会及联系方式</a></dd>
                <dd class="nav-item"><a href="###">西湖创客汇章程</a></dd>
                <dd class="nav-item"><a href="###">捐助本会</a></dd>
            </dl>
            <dl class="footer-nav">
                <dt class="nav-title">《西湖创客报》</dt>
                <dd class="nav-item"><a href="###">《西湖创客报》V1</a></dd>
                <dd class="nav-item"><a href="###">《西湖创客报》V2</a></dd>
                <dd class="nav-item"><a href="###">《西湖创客报》V3</a></dd>
            </dl>
            <dl class="footer-nav">
                <dt class="nav-title">《西湖创客报》</dt>
                <dd class="nav-item"><a href="###">《西湖创客报》V1</a></dd>
                <dd class="nav-item"><a href="###">《西湖创客报》V2</a></dd>
                <dd class="nav-item"><a href="###">《西湖创客报》V3</a></dd>
            </dl>
            <dl class="footer-nav">
                <dt class="nav-title">微信号二维码</dt>
                <dd class="nav-item">
                    <img src="/img/0.jpeg" width="120" alt="">
                </dd>
            </dl>
        </div>
        <div class="footer-copyright text-center">Copyright © 2014 xihumaker.All rights reserved.</div>
    </div>
</div>
<!-- end 底部footer -->