<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>西湖创客汇</title>
        <meta name="description" content="">
        <!-- Le styles -->
        <link rel="stylesheet" href="/semantic/packaged/css/semantic.css">
        <link rel="shortcut icon" href="/icon/favicon.ico">
    </head>
    <body>
        
		<h1>西湖创客汇</h1>

        <img src="http://file.api.weixin.qq.com/cgi-bin/media/get?access_token=fDED891YO4N3QMy8LHB3nbCNSNeuUyXYCNc1HsTv6d505tc8vlPWBbWkWTYjzTcARUv-QXxZevc3GOS1dKznrUaChLwEmgok45_sUYG6ssyEtZQ5jyjkZVsCQYdseOlY6FFFoCLdRemeEOVNDIqQVg&media_id=aYqMaxeF89UGSsO53mjHKuKgsR0jer-1-G24r7gSv6xFmotPFP4__NeZDswbeAjW" alt="">
        
        <script src="/seajs/sea.js" data-config="/js/config" data-main="/js/index" ></script>
    </body>
</html>