<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>七牛</title>
</head>
<body>

	
	<div id="container">
        <a class="btn btn-default btn-lg " id="pickfiles" href="#" >选择文件</a>
    </div>


	<script type="text/javascript" src="/lib/jquery.js"></script>
	<script type="text/javascript" src="/plupload/plupload.full.min.js"></script>
	<script type="text/javascript" src="/js/qiniu.js"></script>

	<script type="text/javascript" src="/js/qiniu_test.js"></script>


</body>
</html>