<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>重设密码 - 微糖</title>
    <meta name="description" content="">
    
    <link rel="stylesheet" href="/semantic/packaged/css/semantic.css">
    <link rel="stylesheet" href="/css/page1.css">
    <link rel="stylesheet" href="/css/resetPassword.css">

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/icon/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/icon/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/icon/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/icon/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/icon/favicon.ico">

    <script src="/lib/jquery.min.js"></script>

</head>
<body>

    <div class="main">
        <div class="page_container">
        	<img src="/img/logo.png" class="logo" alt="" />
            <div class="ui basic form segment">
                <div class="field field1">
                    <div class="ui inverted center aligned icon header">
                        <i class="ok sign icon"></i>发送成功
                        <div class="sub header">密码重设的链接已发送至<span></span>。</div>
                    </div>
                    <a href="/login" class="ui fluid green button">马上登录</a>
                </div>
                <div class="field field2">
                	<p style="color: #fff;text-align: left;">请输入您注册时填写的邮箱地址，系统会发送一封重置密码链接到你的邮箱。</p>
                    <div class="ui left labeled icon input">
                        <input type="email" class="email" placeholder="邮箱" autofocus required>
                        <i class="mail icon"></i>
                    </div>
                </div>
                <div class="field field2 codefield">
                    <div class="ui input">
                        <input type="text" placeholder="验证码" class="" id="captcha">
                    </div>
                    <img src="" width="100" height="42" id="captchaImg">
                    <a class="ui small header" href="javascript:void(0);" id="changeCaptcha">看不清</a>
                </div>
                <div class="ui small warning message">
                    <i class="icon attention"></i>
                </div>
                <div class="field field2">
                    <div class="ui fluid red submit button resetPassword">重设密码</div>
                </div>

                <div class="field field2">
                    <a href="/login" class="ui left floated tiny header"><i class="circle arrow left icon"></i>返回首页</a>
                </div>
                
            </div>
        </div>
    </div>

    <script src="/seajs/sea.js" data-config="/js/config" data-main="/js/resetPassword"></script>
</body>
</html>