.main.container {
	margin-top: 75px;
}
.edui-container,.edui-container .edui-toolbar {
	box-shadow: none !important;
}
.form-horizontal .control-label {
	text-align: left;
	padding-left: 15px;
	padding-right: 0;
}
#coverImg {
	margin-left: 7.5%;
}
.alert {
	display: none;
}