.avatar {
	padding: 10px 45px 0;
}
.avatarThumbnail {
	padding: 10px;
	margin-bottom: 5px;
}
.thumbnail .caption {
	padding-bottom: 0;
}
.list-group {
	margin-bottom: 5px;
}
a.list-group-item.active {
	background-color: #434A54;
	border-color: #434A54;
}
a.list-group-item.active:hover {
	background-color: #656D78;
	border-color: #656D78;
}
.page-header {
	margin: 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #C0C0C0;
}

.container .jumbotron {
	padding: 100px 0;
	display: none;
}
.container .jumbotron h4 {
	color: #ccc;
}