.thumbnail:hover {
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.7);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}
.thumbnail .caption h3 {
	margin: 5px 0;
}
@media (max-width: 768px) {
	.thumbnail>img {
		height: 524px;
	}
}
@media (min-width: 768px) {
	.thumbnail>img {
		height: 253px;
	}
}
@media (min-width: 992px){
	.thumbnail>img {
		height: 150px;
	}
}
@media (min-width: 1200px) {
	.thumbnail>img {
		height: 170px;
	}
}




.progress {
	height: 12px;
	margin-bottom: 10px;
}
.btn-link {
	padding: 5px;
	color: gray;
}
.btn-link:hover {
	text-decoration: none;
}
.project .localProgress {
	float: right;
}
.project .title {
	height: 34px;
	overflow: hidden;
}
.project .misc {
	margin-bottom: 0px;
}
.loadMore {
	display: none;
}