<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>《西湖创客报》V1</title>
        <meta name="description" content="">
        <!-- Le styles -->
        <link rel="stylesheet" href="/semantic/packaged/css/semantic.min.css">
        <link rel="shortcut icon" href="/icon/favicon.ico">
        <style type="text/css">
            p.indent {
                text-indent: 2em;
            }
            h4.ui.header {
                margin-top: 0;
            }
        </style>
    </head>
    <body>

        <h3 class="ui center aligned header">《西湖创客报》V01</h3>
        <div class="ui divider"></div>

        <img src="/img/0.png" width="300" alt="" style="left: 50%;position: relative;margin-left: -150px;" />
        <h4 class="ui header">各位朋友，晚上好！</h4>
        <p>协会邮件组已经开通：XihuMaker@googlegroups.com</p>
        <p>发给该地址的邮件所有会员都将收到。个别会员收不到的请联系 SPP@huiwen.com 。</p>
        <p>非重要邮件请勿发到该地址。</p>

        <h4 class="ui red header">1、《西湖创客汇周报》定位</h4>
        <p class="indent">为加强沟通，及时反映协会动态，从本周起，协会每两周发一次双周报。目前暂时由理事长担任编辑。</p>
        <p class="indent">任何会员认为有某件事项需要通过周报传递给大家，均可向编辑（DL#huiwen.com）发信，编辑尽量服务好大家。周报可免费为会员打广告。</p>
        <p class="indent">下面的内容较多，但请各位会员务必花几分钟时间仔细阅读，这是会员间沟通的基本背景语言。</p>

        <h4 class="ui red header">2、成立大会纪要</h4>
        <p class="indent">12月15日第一届中国创客西湖峰会成功举行。由于时间仓促，有许多不尽人意之处，会后我们也专门开了总结会，争取下次能办得比较圆满。这个峰会我们将一直办下去，打造成中国创客西湖论剑的重要平台。</p>
        <p class="indent">首届峰会的视频已按章节划分，放在网易云课堂上，欢迎传播：http://study.163.com/course/introduction.htm?courseId=489003#/courseDetail</p>
        <p class="indent">同日上午举行了西湖创客汇第一届会员大会，通过了理事会名单——</p>
        <div class="ui bulleted list">
            <div class="item">理事长：戴立</div>
            <div class="item">副理事长：吕江波、陈柱城</div>
            <div class="item">理事：翁恺、段扬扬、刘金胜、宋德锋、杜天泽、陈方毅、林双舞、金炼</div>
        </div>
        <p class="indent">理事会第一次会议讨论了办公室分工——</p>
        <div class="ui bulleted list">
            <div class="item">秘书长：杜天泽</div>
            <div class="item">技术专员：翁恺</div>
            <div class="item">人事财务专员：沈佩佩</div>
            <div class="item">外联专员：吕江波（兼）</div>
            <div class="item">活动总务专员：招募中</div>
            <div class="item">宣传专员：陈柱城（兼）</div>
            <div class="item">政府关系专员：林双舞</div>
        </div>
        <p class="indent">成立大会确立了协会年度目标，详见附件《西湖创客汇第一届会员大会报告.ppt》。我们一起努力，来把目标实现！</p>

        <h4 class="ui red header">3、协会招新</h4>
        <p class="indent">从本周开始，新人入会需要有介绍人（填写在表格上即可，协会办公室会联系介绍人进行确认）。</p>
        <p class="indent">入会表格见http://www.xihumaker.com/?p=122 ，填好后请发送给人事财务专员沈佩佩 SPP@huiwen.com 。</p>
        <p class="indent">12月15日及之前入会的朋友，属于创始会员，无需介绍人，会员卡略有区别。</p>

        <h4 class="ui red header">4、缴费事项</h4>
        <p class="indent">会员卡的费用30元（如需快递请交35元并注明快递地址，环保起见尽量不要快递），请付到支付宝账号：caiwu@huiwen.com，户名戴立。暂时用理事长个人账号，以后争取申请一个西湖创客汇的账号。协会所有收支将秉持透明公正原则。</p>
        <p class="indent">初始金币50元会直接冲到卡上。西湖创客汇的工作间将摆一台刷卡机，买饮料，交费充值，奖励金币，都可以直接刷会员卡。</p>
        <p class="indent">由于工作繁忙，缺乏全职人员，会员卡的制作将需要一段时间，争取春节前发放。</p>

        <h4 class="ui red header">5、协会网站</h4>
        <p class="indent">www.xihumaker.com 现在是一个临时性的CMS网站，有一点小bug。全新网站正在开发中，预计1月中旬上线。</p>
        <p class="indent">协会网站打算做成国内首个针对创客的众筹网站和开源社区。这里的众筹更多的是鼓励，不做产品化的要求。大量开展千元级别的众筹，假设会员投票500金币，那么协会等额支持500人民币，用于作品实现。即项目团队获得500元加500金币。作品所有电子资源和代码可在网站下载（自愿，但需一开始立项就声明开源与否），方便别人站在前人肩膀上继续创作。</p>

        <h4 class="ui red header">6、★ 圆桌论坛  ★</h4>
        <p class="indent">今天晚上（12月21日星期六）将举行第一次在线圆桌论坛，由理事长发起并主持，主题是《空气质量检测及家用净化器讨论》，欢迎各位热情参与。</p>
        <p class="indent">地点：协会QQ群 147202617</p>
        <p class="indent">时间：晚上7:00~9:00</p>
        <p class="indent">规则：届时发布。类似“知乎圆桌”，例如http://www.zhihu.com/roundtable/hs2013。圆桌论坛期间，QQ群严禁灌水或发表无关言论。</p>


        <h5 class="ui right aligned header">本期编辑：戴立</h5>


        <div class="ui horizontal icon divider">
            <i class="circular leaf icon"></i>
        </div>

        <p class="ui teal tiny center aligned header">欢迎加入DIY的队伍，创新让生活更美好！</p>
    </body>
</html>