<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>《中国创客报》</title>
        <meta name="description" content="">
        <!-- Le styles -->
        <link rel="stylesheet" href="/semantic/packaged/css/semantic.min.css">
        <link rel="shortcut icon" href="/icon/favicon.ico">
        <style type="text/css">
            p.indent {
                text-indent: 2em;
            }
            .ui.breadcrumb {
                display: block;
                margin-bottom: 0;
            }
            h4.ui.header {
                margin-top: 0;
            }
        </style>
    </head>
    <body>

        <h3 class="ui center aligned header">《西湖创客报》V02</h3>
        <div class="ui divider"></div>

        <img src="/img/0.jpeg" width="300" alt="" style="left: 50%;position: relative;margin-left: -150px;" />
        <h4 class="ui red header">各位创客朋友，新年好！</h4>
        <div class="ui message">
            值此甲午新春，西湖创客汇理事会恭祝全体会员阖家幸福、身体健康、朝气蓬勃、心想事成，以龙马精神创美好未来！
        </div>
        <p class="indent">回顾癸巳暖冬，西湖创客汇抓住2013年的尾巴，果断成立，本以为人数不会太多，但创客们的热情超出预期，协会遂趁热打铁连续4周均组织了《创客圆桌》分享会：</p>

        <p>第1期：2013-12-21<br />
            <a href="http://www.xihumaker.com/?p=164">空气质量检测及家用净化器讨论（主持：戴立）</a><br /> 
        </p>
        <p>第2期：2013-12-29<br />
            <a href="http://www.xihumaker.com/?p=145">智能家居技术交流会（主持：段扬扬）</a>
        </p>
        <p>第3期：2014-01-06<br />
            <a href="http://www.xihumaker.com/?p=158">互联网众筹模式与创客的互助共生（主持：众意网小柯）</a>
        </p>
        <p>第4期：2014-01-11<br />
            <a href="http://www.xihumaker.com/?p=161">玩转3D打印（主持：陈柱城）</a>
        </p>
        <p>在春季，我们将重点推动以下事务：</p>
        <p>1、欢迎各位会员积极组织分享会，把《创客圆桌》打造成有一定积累和影响力的西湖创客汇子品牌，也借此平台扩大协会队伍。</p>
        <p>2、推广协会新网站。目前大家在QQ群里的讨论热情很高，但QQ群的缺点也是显而易见的，讨论不系统、不能形成积累，导致大家的精力浪费。所以协会最重要的任务就是打造一款适合创客空间的网站。由于是兼职人员开发，年前效率不是很高，虽然网站雏形早已完成，但一直没空改到可以上线的程度，在此向会员们道歉。春节后理事会一定把这个“一号工程”督办好。</p>
        <p>3、协会事务的正规化，包括会员卡、会员金币与威望统计、会员通讯录等行政事务的常态化管理。</p>
        <p>4、初步完成分舵管理体系的设计，发展两个样板分舵。</p>

        <h5 class="ui right aligned header">本期编辑：戴立</h5>


        <div class="ui horizontal icon divider">
            <i class="circular leaf icon"></i>
        </div>

        <p class="ui teal tiny center aligned header">欢迎加入DIY的队伍，创新让生活更美好！</p>

    </body>
</html>