<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>《中国创客报》</title>
        <meta name="description" content="">
        <!-- Le styles -->
        <link rel="stylesheet" href="/semantic/packaged/css/semantic.min.css">
        <link rel="shortcut icon" href="/icon/favicon.ico">
    </head>
    <body>

        <h3 class="ui center aligned header">《西湖创客报》V03</h3>
        <div class="ui divider"></div>

        <img src="/img/logo_360*200.jpg" width="300" alt="" style="left: 50%;position: relative;margin-left: -150px;">

        <p>从本周开始，《西湖创客汇周报》更名为《西湖创客报》，作为协会会刊。</p>
        <p>会刊栏目设置如下：</p>
        <p><strong>协会加油</strong>  ——  向会员汇报协会事务和理事会会议情况</p>
        <p><strong>活动发布</strong>  ——  活动通知及总结。</p>
        <p><strong>会员专栏</strong>  ——  供会员发表个人观点或自我介绍（例如在做什么、有何计划和资源、是否需要帮手）。</p>
        <p><strong>创客圆桌</strong>  ——  每期思想风暴会的总结文章，努力把《创客圆桌》打造成有一定积累和影响力的西湖创客汇子品牌。</p>
        <p><strong>西湖创造</strong>  ——  会员作品发布。</p>
        <p><strong>全球创客运动</strong>  ——  介绍各地创客空间的重要进展，他山之石，可以攻玉。</p>
        <p>欢迎大家投稿赚金币，确保会刊每月不断粮~</p>
        <p>投稿信箱：DL◎huiwen.com （◎ → @）</p>
        

        <div class="ui horizontal icon divider">
            <i class="circular leaf icon"></i>
        </div>

        <p class="ui teal tiny center aligned header">欢迎加入DIY的队伍，创新让生活更美好！</p>

    </body>
</html>