body {
    font-family: "微软雅黑","宋体", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin: 0px;
    padding: 0px;
    color: #555555;
    min-width: 320px;
}
p {
    font-family: "宋体";
    font-size: 14px;
    line-height: 22px;
}

div.main {
    padding: 60px 15px 0;
}

/*百度编辑器样式修改*/
.edui-container,.edui-container .edui-toolbar {
    box-shadow: none;
}