div.main {
    padding: 60px 15px 0;
}

.ui.breadcrumb {
	margin-bottom: 0;
}
.searchSegment {
	margin: 0 !important;
	padding: 0 !important;
}
.searchSegment input {
	width: 250px !important;
}
.loadMore {
	cursor: pointer;
	display: none;
	padding: 8px 0px !important;
}
