<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <title>西湖创客汇简介&理事会及联系方式 - 西湖创客汇</title>
        <meta name="description" content="">
        <link rel="shortcut icon" href="/icon/favicon.ico">
        <link rel="stylesheet" href="/semantic/packaged/css/semantic.min.css">
        <style type="text/css">
            p.indent {
                text-indent: 2em;
            }
        </style>
    </head>
    <body>
        
        <img src="/img/logo_360*200.jpg" width="300" alt="" style="left: 50%;position: relative;margin-left: -150px;">
        
        <h3 class="ui red header">一、创客文化</h3>
        <p class="indent">创客（Maker）或者极客（Geek）是指对世界抱有自己的观点，并运用各种DIY手段表达观点的创新人群。创客门槛不高，对社会、艺术、技术（机械、电子、编程等）等任一方面有见解和动手能力均可，小孩子也可当创客。</p>
        <p class="indent">创客（Maker）的核心文化是开放，任何人都可以快乐地分享自己的见解、创意、创造，互相激荡、互相启发、互相欣赏。因创客们展示创意的需求，发展出了各种创客嘉年华、Maker Faire（美国《Make》杂志社举办的全球最大DIY聚会）。</p>
        <p class="indent">创客们扎堆的地方一般称为创客空间。大家分享新的技术和应用方式，或有助于未来的工作，或纯粹出于对DIY的兴趣。许多人通过在创客空间的交流，做出了有趣的DIY产品。欧美创客文化盛行，美国仅Boulder小城100平方公里的土地上就有Sparkfun等众多开源硬件公司和10多个创客空间，我国总共才20个创客空间。所以中国虽然工业总产值已超越美国，但美国相对我国仍然保持了很大的创新优势。创客社区发展任重道远。</p>

        <h3 class="ui red header">二、西湖创客汇</h3>
        <p class="indent">西湖创客汇是浙江地区的创客空间，我们的主旨是 <strong>青年 | 创新 | 科技</strong> ：</p>
        <p class="indent"><strong>青年</strong> —— 青年意味着阳光上进，视青春为珍宝，爱折腾，绝不甘心埋没生命的能量；青年更热爱生活，能敏感地体会到生活的质感，触碰到创新的种子微粒；青年也意味着乐于分享快乐。</p>
        <p class="indent"><strong>创新</strong> —— 万物更新，文明和生命方得延续。年轻人是创新力之源，创客空间像一个实验室，鼓励没有任何功利心的创新，无需对想象力施加一丝一毫的局限，因为我们相信，没有任何“用处”的创新，却有机会真正拓宽人类的道路。</p>
        <p class="indent"><strong>科技</strong> —— 我们不是空想主义者，DIY爱好者从来都拥有实现创意的工具和实力，连改造世界都不在话下，故江湖共识：嫁人就嫁Handy Man！</p>

        <h3 class="ui red header">三、协会功能与价值</h3>
        <p class="indent">西湖创客汇致力于帮助年轻人利用技术发展自我、改变世界，帮助工程师拓展人脉，在更大的范围发挥个人价值。具体职能包括但不限于：</p>
        <h4 class="ui header">1、交流与展示平台</h4>
        <p class="indent">鼓励会员和爱好者分享观点、技术、经验、智慧，鼓励头脑风暴式的讨论，协助会员发布、展示、推广个人作品。</p>
        <h4 class="ui header">2、资源共享</h4>
        <p class="indent">分享供应链、实验设备、开源软硬件等资源，降低创新门槛，让会员更聚焦于创新本身，减少在准备工作上的精力损耗。逐步创造条件，为会员的创新活动提供资金和场地支撑。</p>
        <h4 class="ui header">3、 社区</h4>
        <p class="indent">拓展工程师的人脉圈，提升创业氛围。让大学生有机会近距离感受业界氛围，吸引新人加入创客运动。</p>
        <h4 class="ui header">4、 技术支持</h4>
        <p class="indent">开设创客孵化营，培养新人。牵线搭桥，为会员的创新活动提供技术支持。</p>

        <h3 class="ui red header">四、入会要求</h3>
        <p>1、爱好DIY，认可创客文化，以及西湖创客汇的主旨；</p>
        <p>2、在电子、艺术、软件、传感、网络、机械等任一领域有基本的实践动手能力；</p>
        <p>3、对生活充满兴致，鬼点子很多；</p>
        <p>4、一名会员推荐（13年12月15日之前入会的创始会员可无需介绍人）。</p>
        <p>会员登记注册：www.xihumaker.com</p>
        
        <h3 class="ui red header">五、联系方式</h3>
        <p>总部工作室：杭州滨江区·诚业路江南大道口·长健大厦10层</p>
        <p>联系人：刘建珍</p>
        <p>电    话：0571-8998 8817</p>

        <div class="ui horizontal icon divider">
            <i class="circular leaf icon"></i>
        </div>

        <p class="ui teal tiny center aligned header">欢迎加入DIY的队伍，创新让生活更美好！</p>
        
        
    </body>
</html>