body {
    font-family: "微软雅黑","宋体", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #F7F6F6;
    padding-bottom: 20px;
}
#footernav .item {
    padding-top: 8px;
    padding-bottom: 8px;
}
#footernav>.item>.icon {
    margin: 0 auto .2em!important
}


.msgTip {
    display: none;
}
.loadMore {
    display: none;
}
/*-----------------*/
.ui.items {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 40px;
}
.ui.items .item {
    margin: 15px auto !important;
    width: 300px !important;
    min-height: 250px !important;
    max-height: 325px !important;
    display: block;
    float: none !important;
    text-decoration: none;
}
.ui.items .item img {
    height: 160px;
}
.ui.items .item .title {
    height: 34px;
    margin: 5px 0;
    font-size: 16px !important;
    line-height: 34px !important;
    white-space: nowrap;/*禁止换行*/
    overflow: hidden;/*禁止文本溢出显示*/
    text-overflow: ellipsis;
}
img.jinghua {
    height: 30px !important;
    width: 28px !important;
    float: left !important;
    padding-right: 5px !important;
}
.ui.items .item .misc {
    line-height: 20px;
    margin-bottom: 10px;
    color: gray;
    height: 20px;
}

.ui.items .item .label {
    float: right;
    padding: 0 7px;
    margin: 0;
}
.ui.items .item .progress {
    background-color: #E6E9ED;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
    height: 12px;
    margin-bottom: 10px;
    background-color: #F5F5F5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    clear: both;
}
.ui.items .item .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #FFF;
    text-align: center;
    background-color: #428BCA;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}
.ui.items .item .progress-bar-success {
    background-color: #8CC152;
}
.ui.items .item .progress-bar-danger {
    background-color: #DA4453;
}
.ui.items .item .btn-link, .btn-link:hover{
    padding: 5px;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    color: gray;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
}
.ui.items .item .btn-link {
    font-weight: 400;
    cursor: pointer;
    border-radius: 0;
}
.ui.items .item .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#topmenu {
    top: 0;
    z-index: 9999;
}


