body {
    padding-bottom: 60px;
}
.hide {
    display: none !important;
}
.topicList {
    padding: 10px !important;
    margin-top: 0px !important;
}
.topicList .topic {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.topicList .topic .content {
    word-wrap: break-word; 
    word-break: break-all;
}
.topicList .topic a {
    text-decoration: none;
}
.topicList .topic .meta {
    text-align: right;
}
.topicList .topic img {
    float: left;
    margin-right: 10px;
}
.topicList .topic .ui.header {
    overflow: auto;
    margin-bottom: 5px;
}
.topicList .topic .sub.header {
    font-size: 12px;
}
ul {
    padding-left: 0;
    list-style: none;
}
.picList {
    overflow: auto;
    margin: 5px 0;
}
.picList li {
    width: 30%;
    float: left;
    margin-right: 3%;
    margin-bottom: 5px;
}
.commentList {
    font-size: 14px;
    margin: 5px 0;
}
.ui.divider {
    margin: 5px 0;
}
.loadMore {
    font-size: 16px !important;
    margin: 0 !important;
    padding: 0 !important;
}
a {
    color: #5D5DEC;
    ;
}
.replyBox {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    left: 0;
    display: none;
}
.replyBox .ui.form {
    background: #fff;
    z-index: 100001;
    width: 92%;
    margin-left: 2%;
    margin-top: 10px;
    padding: 10px 2% 1px;
}
.replyBox textarea {
    height: 6em !important;
    min-height: 6em !important;
    padding-left: 5px !important;
}

