
#title {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
#group {
    float:right;
}
#industry {
    float:right;
    padding-right:15px;
}

.support {
    padding-left: 0px;
    padding-right: 0px;
}
.progress {
    margin-bottom: 0;
    width: 70%;
}
#joinTeam,#quitTeam {
    margin-bottom:10px;
}
.rowMem {
    margin-bottom: 5px;
}

.col-md-2 {
    padding-right: 0px;
}
#commentList p {
    padding: 10px 0;
    margin: 0;
    border-bottom: 1px dashed #AAB2BD;
}