
#title {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
#group {
    float:right;
}
#industry {
    float:right;
    padding-right:15px;
}

.support {
    padding-left: 0px;
    padding-right: 0px;
}
.progress {
    margin-bottom: 0;
    width: 80%;
}
#joinTeam,#quitTeam {
    margin-bottom:10px;
}
.rowMem {
    margin-bottom: 5px;
}

